@import url("https://fonts.googleapis.com/css?family=Roboto");


* {
  box-sizing: border-box;
}

/* style login page */
.login {
  text-align: center;
}

/* style the container */
.container {
  position: relative;
  border-radius: 5px;
  margin-left: 25%;
  margin-right: 25%;
  text-align:start;
} 

.game-wrapper {
  position: relative;
  text-align:center;
}
.game-container {
  position: absolute;
  float:left;
  margin-top: 5%;
  margin-left: 10%;
  text-align:center;
}
canvas {
  float:right;
  margin-right: 20%;
}

/* style inputs and link buttons */
input,
.btn {
  border:3px solid black;
  width: 100%;
  padding: 12px;
  border-radius: 15px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}



input:hover,
.btn:hover {
  opacity: 1;
}

/* style the submit button */
input[type=submit] { 
  background-color: rgb(248,206,27);
  border:3px solid black;
  color: black;
  cursor: pointer;
}

input[type=submit]:hover {
  border:3px solid black;
  background-color: rgb(255, 210, 10);
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

input
{
  border:3px solid black;
  border-radius: 15px;
}

input:focus-visible
{
  outline: none;
}
/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}
 

body {
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Comfortaa", sans-serif;
}

.welcomeContainer 
{
  text-align: center;

}

.gif
{
  margin-left: 10%;
  margin-right: 10%;
  height: auto;
  width: 80%;
}

.pages
{
  text-align: center;
}

.headline a
 {
  text-align: center;
  position: relative;
  display: inline-block;
  font-size: 4em;
  font-weight: 800;
  color:  rgb(248,206,27);
  overflow: hidden;
  background: linear-gradient(to right,  rgb(248,206,27), rgb(248,206,27) 50%, rgb(0, 0, 0) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}
.headline a:hover
{
  background-position: 0 100%;
}

h2 {
  margin: 0px;
  text-transform: uppercase;
}

h6 {
  margin: 0px;
  color: #777;
}

.wrapper,.navigationMnu {
  text-align: center;
  margin: 50px auto;
}
.navigationMnu
{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.tabs {
  margin-top: 50px;
  font-size: 13px;
  padding: 0px;
  list-style: none;
  background: #fff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  display: inline-block;
  border-radius: 50px;
  position: relative;
}



.tabs a {
  text-decoration: none;
  color: #777;
  text-transform: uppercase;
  padding: 10px 20px;
  display: inline-block;
  position: relative;
  z-index: 1;
  transition-duration: 0.6s;
}

.tabs a.active {
  color: #fff;
}

.tabs a i {
  margin-right: 5px;
}

.tabs .selector {
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  border-radius: 50px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background: #05abe0;
  background: -moz-linear-gradient(45deg, #ffcf0d 0%, #ffcf0d 100%);
  background: -webkit-linear-gradient(45deg, #ffcf0d 0%, #ffcf0d 100%);
  background: linear-gradient(45deg, #ffcf0d 0%, #ffcf0d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#8200f4',GradientType=1 );

}

#headContainer {
  position: relative;
  text-align: center;
  color: white;
}


.containerbt
{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  text-align:center;
  min-height: 30vh;
}

.btn-1
{
  width: 200px;
  height: 80px;
  border:3px solid black;
  color:#000000;
  background-color:white;
  border-radius: 15px;
  transition: ease-out 0.3s;
  font-weight: 600;
  font-size:2rem;
  outline:none;
  position:relative;
  z-index: 1;
  margin:2rem

}

.btn-1:hover
{
  color:white;
  cursor:pointer;
}

.btn-1:before
{
  transition: 0.5s all ease;
  position:absolute;
  border-radius: 13px;
  top: 0;
  left:50%;
  right:50%;
  bottom:0;
  opacity: 0;
  content:"";
  background-color: rgb(248,206,27);
}

.btn-1:hover:before
{
  transition: 0.5s all ease;
  left:0;
  right:0;
  opacity: 1;
  z-index: -1;
}

#text h2
{
  text-align: center;
}

.ui-widget-header,.ui-state-default, ui-button {
  background:rgb(248,206,27);
  border: 1px solid rgb(248,206,27);
  color: #000000;
  font-weight: bold;
}



.is-hidden
{
  display: none;
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
