@import url("https://fonts.googleapis.com/css?family=Roboto");


* {
  box-sizing: border-box;
}

/* style login page */
.login {
  text-align: center;
}

/* style the container */
.container {
  position: relative;
  border-radius: 5px;

  padding: 20px 0 30px 0;
} 

/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}
 

body {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Comfortaa", sans-serif;
}



#headline a
 {
  position: relative;
  display: inline-block;
  font-size: 4em;
  font-weight: 800;
  color:  rgb(248,206,27);
  overflow: hidden;
  background: linear-gradient(to right,  rgb(248,206,27), rgb(248,206,27) 50%, rgb(0, 0, 0) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}
#headline a:hover
{
  background-position: 0 100%;
}

h2 {
  margin: 0px;
  text-transform: uppercase;
}

h6 {
  margin: 0px;
  color: #777;
}

.wrapper {
  text-align: center;
  margin: 50px auto;
}

.tabs {
  margin-top: 50px;
  font-size: 15px;
  padding: 0px;
  list-style: none;
  background: #fff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  display: inline-block;
  border-radius: 50px;
  position: relative;
}

.tabs a {
  text-decoration: none;
  color: #777;
  text-transform: uppercase;
  padding: 10px 20px;
  display: inline-block;
  position: relative;
  z-index: 1;
  transition-duration: 0.6s;
}

.tabs a.active {
  color: #fff;
}

.tabs a i {
  margin-right: 5px;
}

.tabs .selector {
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  border-radius: 50px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

  background: #05abe0;
  background: -moz-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
  background: -webkit-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
  background: linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#8200f4',GradientType=1 );

}


.containerbt
{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-items:center;
  text-align:center;
  min-height: 100vh;
}

.btn-1
{
  width: 200px;
  height: 100px;
  border:3px solid black;
  color:#000000;
  background-color:white;
  border-radius: 4px;
  transition: ease-out 0.3s;
  font-weight: 600;
  font-size:2rem;
  outline:none;
  position:relative;
  z-index: 1;

}

.btn-1:hover
{
  color:white;
  cursor:pointer;
}

.btn-1:before
{
  transition: 0.5s all ease;
  position:absolute;
  top: 0;
  left:50%;
  right:50%;
  bottom:0;
  opacity: 0;
  content:"";
  background-color: rgb(248,206,27);
}

.btn-1:hover:before
{
  transition: 0.5s all ease;
  left:0;
  right:0;
  opacity: 1;
  z-index: -1;
}





